<div class="pilots">
  <p>Name: <span>{{pilot.name}}</span></p>
  <p>Birthyear: <span>{{pilot.birth_year}}</span></p>
  <p>Eye color: <span>{{pilot.eye_color}}</span></p>
  <p>Gender: <span>{{pilot.gender}}</span></p>
  <p>Hair Color: <span>{{pilot.hair_color}}</span></p>
  <p>Height: <span>{{pilot.height}}</span></p>
  <p>Mass: <span>{{pilot.mass}}</span></p>
  <p>Skin color: <span>{{pilot.skin_color}}</span></p>
  <p>Homeworld:<span>{{pilot.homeworld}}</span></p>
  <p>Starships: <span>{{pilot.starships}}</span></p>
  <p>Species: <span>{{pilot.species}}</span></p>
  <p>Vehicles:<span> {{pilot.vehicles}}</span></p>
</div>
